header{
	font-color:black;
	text-align: center;
	padding:left 200px;
	
	


}
img{
	padding-left: 70px;

}
ul{

text-align: center;
font:bold;
padding-right: 500px;
color: black;
}
}
p{ 
padding-left:400px;

}

}
}



h1{color:black;}


