header{
	font-color:black;
	text-align: center;

	
	


}
img{

	padding-right: 600px;
	height: 400px;
	width: 400px;
	

}


#map{

	height:200px;
}


head{
	text-align: center;
	padding-left: 400px;
	font:bold;
	padding-right: 400px;
}
ul{

text-align: center;
font:bold;
padding-right: 500px;
color: black;
}




